@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700&display=swap&subset=cyrillic-ext');


body, html {
  height: 100%;
}

body {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 18px;
  color: #000;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  >div:nth-child(1),
  >div:nth-child(2) {
    display: none;
  }
}

body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: #333333
}

body::-webkit-scrollbar {
  width: 10px;
  background-color: #333333
}

body::-webkit-scrollbar-thumb {
  background-color: $orange;
  border: 2px solid $orange;
}

.content {
  padding-top: 80px;
  padding-bottom: 50px;
  flex: 1 0 auto;
}

.homepage {
  .content {
    padding: 0;
  }
}

@media (max-width: 991px) {
  body {
    overflow-x: hidden;
  }
  .content {
    padding-top: 40px;
    padding-bottom: 20px;
  }
}


@media (max-width: 767px) {
  body {
    font-size: 14px;
  }
}