.section-about-company {
  padding-bottom: 60px;
  .dynamic-content {
    font-size: 14px;
    margin-top: 20px;
    line-height: 16px;
    h2,h3,h4,h5,h5 {
      font-size: 16px;
    }
  }
}

.page-about {
  .content {
    padding-bottom: 0;
  }
}

.section-we-propose {
  padding: 90px 0;
  .section-title {
    margin-bottom: 45px;
  }
  .row > div {
    margin-bottom: 30px;
  }
}

.propose {
  justify-content: center;
  .item {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    text-align: center;
    background-color: #fff;
    padding-top: 12px;
    font-size: 12px;
    border-radius: 6px;
    .propose-body {
      padding: 0 15px 15px 15px;
    }
    .item-label {
      display: flex;
      align-items: center;
      justify-content: center;
      text-transform: uppercase;
      text-align: center;
      line-height: 1;
      min-height: 45px;
      margin: 30px 0;
      padding: 4px 10px;
      color: #fff;
      background-color: $orange;
      font-size: 16px;
      font-weight: 700;
    }
    img {
      height: 190px;
      max-width: 100%;
      object-fit: cover;
    }
  }
}

@media (max-width: 991px) {
  .section-about-company {
    padding-bottom: 30px;
  }
  .section-we-propose {
    padding: 30px 0;
    .section-title {
      margin-bottom: 20px;
    }
  }
}
