.gallery-item {
  margin-bottom: 30px;
  cursor: pointer;
  .gallery-main-img {
    position: relative;
    height: 268px;
    transition: transform .2s ease-in-out;
    background-size: cover;
    background-position: center;
    &:active {
      transform: scale(0.9);
      box-shadow:  0 0 40px rgba(0, 0, 0, 0.27);
    }
    &:before {
      content: '';
      transition: opacity .2s ease-in-out;
      background-color: #4d555e;
      opacity: 0.2;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
  .gallery-title {
    text-align: center;
    letter-spacing: 1.68px;
    text-transform: uppercase;
    font-weight: 700;
    span {
      display: flex;
      align-items: center;
      flex-direction: column;
      padding: 0 15px;
      justify-content: center;
      -webkit-line-clamp: 4;
      min-height: 82px;
      &:after {
        content: '';
        width: 50px;
        transition: width .2s ease-in-out;
        height: 2px;
        display: block;
        margin: 5px auto 0 auto;
        background-color: $orange;
      }
    }
    font-size: 14px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    color: #fff;
    transition: all .2s ease-in-out;
  }
  &:hover {
    .gallery-title {
      top: calc(50% - 41px);
      span {
        &:after {
          width: 150px;
        }
      }
    }
    .gallery-main-img {
      &:before {
        opacity: 0.8;
      }
    }
  }
}

@media (max-width: 767px) {
  .gallery-wrapper {
    margin: 0;
  }
  .gallery-item {
    padding: 0;
    margin: 0 auto 30px auto;
    width: 320px;
    & + .gallery-item {
      margin-left: 30px;
    }
    .gallery-main-img {
      height: 220px;
    }
  }
}