.review-author {
  font-weight: 700;
  letter-spacing: 0.72px;
  text-transform: uppercase;
  font-size: 18px;
}

.review-item {
  margin-bottom: 30px;
}

.review-box {
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.11);
  background-color: rgba(255,255,255, .95);
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  transition: box-shadow .2s ease-in-out;
  &:hover {
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.3);
  }
}

.review-text {
  letter-spacing: 0.56px;
  line-height: 17px;
  font-size: 14px;
}

.review-date,
.review-link-doc,
.review-country {
  font-size: 12px;
  letter-spacing: 0.48px;
}

.review-date {
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
}


.review-link-doc {
  display: inline-flex;
  align-items: flex-end;
  img {
    width: 19px;
    height: 25px;
  }
  .link-doc {
    color: #000;
    margin-left: 7px;
    line-height: 1;
    display: inline-flex;
    border-bottom: 1px solid #000;
    &:hover {
      color: $orange;
      border-bottom-color: $orange;
    }
  }
}

.reviews-list {
  .review-text {
    margin: 20px 0;
  }
  .review-country {
    margin-top: 14px;
    margin-bottom: 6px;
  }
  .review-body {
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
  }
  .review-box {
    padding: 20px 0;
    .review-author {
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      span {
        display: block;
        background-color: #fff;
        padding: 0 15px;
        z-index: 20;
        max-width: 70%;
        text-align: center;
        position: relative;
      }
      &:after,
      &:before {
        content: '';
        position: absolute;
        width: 50%;
        height: 2px;
        background-color: $orange;
      }
      &:after {
        right: 0;
      }
      &:before {
        left: 0;
      }
    }
  }
}

@media (max-width: 1199px) {
  .review-author {
    font-size: 16px;
  }
}

@media (max-width: 991px) {
  .review-box .second-title,
  .review-author {
    font-size: 14px;
  }
}