.header {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 63px;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  &.header-main {
    background-image: url("../img/bg_main.jpg");
    min-height: 100vh;
    max-height: 1080px;
  }
  .container-height {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }
  .logo {
    svg {
      transition: transform .2s ease-in-out;
      width: 106px;
      height: 10px;
    }
    &:hover {
      .cls-2 {
        fill: $dark-yellow;
      }
    }
  }
  .home-banner-text {
    padding-bottom: 180px;
    .btn {
      min-width: 230px;
      margin-top: 45px;
    }
    .page-title {
      padding-top: 30px;
    }
  }
  &.sticky-header {
    .header-top {
      background-color: #4d555e;
      padding: 15px 0;
    }
  }
}

.feedback-box {
  position: relative;
  margin-right: 23px;
  &:hover {
    .feedback-info {
      display: flex;
    }
  }
  .phone {
    width: 35px;
    height: 33px;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: skew(-15deg, 0);
    transition: background-color .3s ease-in-out;
    border: 3px solid $dark-yellow;
    border-radius: 5px;
    cursor: pointer;
    &:hover {
      background-color: $dark-yellow;
    }
    img {
      display: block;
      transform: skew(15deg, 0);
      width: 16px;
      height: 16px;
    }
  }
  .feedback-info {
    position: absolute;
    top: 100%;
    z-index: 1000;
    display: none;
    left: -19px;
    min-width: 209px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    min-height: 109px;
    border-radius: 5px;
    transform: skew(-15deg, 0);
    background-color: rgba(255,255,255, .5);
    .info {
      font-size: 12px;
      letter-spacing: 0.24px;
      transform: skew(15deg, 0);
      > div + div {
        margin-top: 4px;
      }
      img {
        width: 18px;
        height: 18px;
        margin-right: 10px;
      }
    }
  }
}

.language-menu {
  padding: 0;
  display: flex;
  align-items: center;
  li {
    transform: skew(-15deg, 0);
    border: 3px solid $dark-yellow;
    border-radius: 5px;
    width: 35px;
    height: 33px;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-backface-visibility: hidden;
    transition: all .2s ease-in-out;
    a {
      font-size: 14px;
      font-weight: 700;
      color: #fff;
      letter-spacing: 0.28px;
      text-transform: uppercase;
      border-radius: 5px;
      transform: skew(15deg, 0);
    }
    &.current-lang,
    &:hover {
      background-color: $dark-yellow;
    }
    & + li {
      margin-left: 23px;
    }
  }
}

.menu-container {
  .language-menu {
    display: none;
  }
}

.header-top {
  padding-top: 30px;
  transition: all .2s ease-in-out;
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
}

.menu {
  padding: 0;
  display: flex;
  align-items: center;
  li {
    transform: skew(-15deg, 0);
    border: 3px solid transparent;
    border-radius: 5px;
    transition: border .2s ease-in-out;
    a {
      display: block;
      padding: 0 10px;
      border-radius: 5px;
      font-size: 14px;
      color: #fff;
      letter-spacing: 0.28px;
      transform: skew(15deg, 0);
    }
    &:active {
      box-shadow: inset 0 0 40px rgba(0, 0, 0, 0.27);
    }
    &.active,
    &:hover {
      border: 3px solid $dark-yellow;
    }
    &+ li {
      margin-left: 5px;
    }
  }
}

.header-page {
  min-height: 580px;
}

.page-banner {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-align: center;
  .page-title {
    margin-top: 10px;
    line-height: 1.2;
  }
  .page-sub-title {
    letter-spacing: 0.72px;
    margin-top: 25px;
  }
}

.close-btn {
  display: none;
}

.header-page {
}

.mobile-btn {
  display: none;
  background-color: transparent;
  flex-shrink: 0;
  border: 0;
  position: relative;
  outline: 0 !important;
  width: 35px;
  height: 21px;
  margin-left: 15px;
  padding: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  align-self: center;
}
.mobile-btn span {
  background-color: $dark-yellow;
  border-radius: 8px;
  width: 100%;
  height: 3px;
  display: block;
  opacity: 1;
  position: absolute;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out; }
.mobile-btn span:nth-child(1) {
  top: 0; }
.mobile-btn span:nth-child(2) {
  right: 0;
  width: 70%;
  top: 10px; }
.mobile-btn span:nth-child(3) {
  top: 20px; }
.mobile-btn.open span:nth-child(1) {
  top: 11px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg); }
.mobile-btn.open span:nth-child(2) {
  opacity: 0;}
.mobile-btn.open span:nth-child(3) {
  top: 11px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg); }


@media (max-width: 1199px) {
  .feedback-box {
    margin-right: 10px;
  }
  .language-menu li + li {
    margin-left: 10px;
  }
  .menu {
    li + li {
      margin-left: 0;
    }
  }
}

@media (max-width: 991px) {

  .close-btn,
  .mobile-btn {
    display: block;
  }

  .menu {
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 0;
    width: 100%;
    li {
      display: inline-block;
      text-align: center;
      width: 100%;
      transition-property: transform,opacity,-webkit-transform;
      transform: translate(0,50%);
      transform: translate3d(50%,0,0);
      opacity: 0;
      padding: 0 15px;
      -webkit-transition: all .4s ease;
      transition: all .4s ease;
      a {
        font-size: 16px;
      }
      &+li {
        margin-top: 30px;
        margin-left: 0;
      }
    }
  }

  .menu-container {
    z-index: 9000;
    padding: 1rem 0 70px;
    position: fixed;
    background-color: $black;
    left: 0;
    margin: 0;
    top: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    transition: all .5s ease-in-out;
    transform: translateX(105%);
    .close-btn {
      position: absolute;
      top: 20px;
      right: 20px;
      img {
        width: 20px;
      }
    }
    &.open-menu {
      transform: translateX(0);
      li {
        transform: translate(0,0);
        transform: translate3d(0,0,0);
        opacity: 1;
        &:nth-child(1) {
          transition-delay: .5s;
        }
        &:nth-child(2) {
          transition-delay: .6s;
        }
        &:nth-child(3) {
          transition-delay: .7s;
        }
        &:nth-child(4) {
          transition-delay: .8s;
        }
        &:nth-child(5) {
          transition-delay: .9s
        }
        &:nth-child(6) {
          transition-delay: 1s
        }
        &:nth-child(7) {
          transition-delay: 1.1s
        }
        &:nth-child(8) {
          transition-delay: 1.2s
        }
      }
    }
    .language-menu {
      display: flex;
      margin-top: 20px;
    }
  }

  .header {
    .home-banner-text {
      padding-bottom: 0;
    }
  }

  .header-page {
    min-height: 360px;
  }
}

@media (max-width: 767px) {
  .header {
    padding-top: 53px;
  }

  .page-banner {
    br {
      display: none;
    }
    .page-sub-title {
      font-size: 14px;
      margin-top: 10px;
    }
  }

  .header-top {
    padding-top: 10px;
  }

  .header {
    &.sticky-header {
      .header-top {
        padding: 10px 0;
      }
    }
  }

  .language-menu {
    display: none;
  }

  .header-page {
    min-height: 300px;
  }

  .feedback-box .feedback-info {
    left: -105px;
  }
}


