.btn-yellow {
  position: relative;
}

.spinner-border {
  width: 1rem;
  height: 1rem;
  opacity: 0;
  position: absolute;
  margin-left: 10px;
}

.custom-file-label {
  overflow: hidden;
  line-height: 20px;
}
