/*import mixin*/
@import 'helpers/mixins';
/*import bootstrap*/
@import '~bootstrap/scss/bootstrap';
@import "~owl.carousel/dist/assets/owl.carousel.min.css";
@import "~owl.carousel/dist/assets/owl.theme.default.min.css";
@import "~@fancyapps/fancybox/dist/jquery.fancybox.min.css";
@import "~jquery-ui/themes/base/all.css";
/*import variables*/
@import 'helpers/variables';
/*import reset*/
@import 'helpers/reset';
/*import base*/
@import 'helpers/base';
/*import general*/
@import 'helpers/general';
/*import general*/
@import 'helpers/form';
/*import layouts*/
@import 'layout/header';
@import 'layout/footer';
@import 'pages/home';
@import 'pages/review';
@import 'pages/gallery';
@import 'pages/faq';
@import 'pages/article';
@import 'pages/services';
@import 'pages/contact';
@import 'pages/about';
@import "_custom";
